# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build / cache
dist/
build/
.cache/
.tmp/

# Logs
logs/
*.log
*.log.*

# IDE / éditeurs
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# OS fichiers temporaires
.DS_Store
Thumbs.db

# ESLint cache
.eslintcache
