* { 
  box-sizing: border-box; 
  margin:0; 
  padding:0; 
}

body { 
  color:#141414; 
  font-family:Arial, sans-serif; 
  padding:10px; 
  background:#f8f9fa;
}

.logo { 
  max-width:80px; 
  height:80px; 
}

.page-contenu { 
  max-width: 844px; 
  margin: 0 auto; 
}

.header { 
  background:#6A7A7D; 
  height:122px; 
}

.meilleurFilm .row { 
  height:100%; 
  align-items:stretch; 
}
.titreFilm { 
  width:100%; 
  height:100%; 
  object-fit:cover; 
  display:block; 
}

@media (max-width:576px){
  h1 { 
    display:none; 
  }
  .logo { 
    margin:auto; 
  }
  .films .col:nth-child(n+3) {
  display: none;
}
}

@media (max-width:768px){
  .films .col:nth-child(n+5) {
  display: none;
}
}

.films.show-all .col { 
  display: block; 
}

